<div class="bootstrap-wrapper">

    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <mat-card>

                <div class="container text-center">
                        <img src='../../../assets/Login1.jpg' alt=""/>

                </div>

                <h1 class="text-center">Login here</h1>

                

                <form (ngSubmit)="formSubmit()">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>username</mat-label>
                        <input required
                        [(ngModel)]="loginData.username" name="username"
                         matInput placeholder="Enter here">
                     </mat-form-field>
                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required
                        [(ngModel)]="loginData.password" name="password"
                        type="password" matInput placeholder="Enter here">
                     </mat-form-field>
                     <button type="submit" mat-raised-button color="primary">login</button>
                     


                   </form>
                        </mat-card>
                
                </div>
                </div>
                </div>
                
