<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
           <div class="col-md-6 offset-md-3">
               <mat-card style="margin-top: 40px;">
                <div style="background-color: rgb(127, 236, 255);" class="alert alert-success text-center" role="alert">
                        <h3>We have send otp to your email...</h3>
                </div>
                <form (ngSubmit)="formsubmit()">
                   <div class="container text-center">
                     
                       
                    <mat-form-field class="full-width " appearance="outline" >
                        <mat-label>Enetr OTP</mat-label>
                        <input required
                        name="otp"
                        

                        
                        
                         matInput placeholder="Enter here">
                     </mat-form-field>

                   </div>
                   <div class="container text-center">
                       <button  mat-raised-button color="primary" >Verify</button>
                            </div>
                        </form>
               </mat-card>
           </div>
        </div>
    </div>
</div>

